<!-- <div>
    <button (click)="logout()">Logout</button>
</div> -->

<!-- <button class="nav-link" aria-current="page" (click)="logout()" routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Log Out
</button> -->

<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
        Log out
    </button>
</ng-container>

<ng-template #loggedOut>
    <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>