<!-- 
<img src="{{ cardUser$.userProfilePicture }}"
    alt="Picture of {{ cardUser$.userFirstName }} {{ cardUser$.userLastName }}" />

<button id="downloadButtonNormal" [vcdDownloadVCard]="vCard">
    Download VCard!
</button>

<h3>ID</h3>
<p> {{ cardUser$.userId }} </p>
<br>
<h3>First Name</h3>
<p> {{ cardUser$.userFirstName }} </p>
<br>
<h3>Last Name</h3>
<p> {{ cardUser$.userLastName }} </p>
<br>
<h3>Email</h3>
<p> {{ cardUser$.userEmail }} </p>
<br>
<h3>Username</h3>
<p> {{ cardUser$.userPhoneNumber }} </p>
<br>
<h3>Description</h3>
<p> {{ cardUser$.userDescription }} </p>
<br>
<h3>Job Title</h3>
<p> {{ cardUser$.userJobTitle }} </p>
<br>
<h3>Job Description</h3>
<p> {{ cardUser$.userJobDescription }} </p>
<br> 
-->
<div class="card mx-auto" style="width: 20rem;">
    <img src="{{ cardUser$.userProfilePicture }}" class="card-img-top"
        alt="Picture of {{ cardUser$.userFirstName }} {{ cardUser$.userLastName }}">
    <div class="card-body">
        <h5 class="card-title">{{ cardUser$.userFirstName }} {{ cardUser$.userLastName }}</h5>
        <p class="card-text">{{ cardUser$.userJobTitle }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Phone: {{ cardUser$.userPhoneNumber }}</li>
        <li class="list-group-item">Email: {{ cardUser$.userEmail }}</li>
        <li class="list-group-item">Address: {{ cardUser$.userStreetAddress }}, {{ cardUser$.userCity}}, {{
            cardUser$.userProvince }} {{ cardUser$.userZipCode }}</li>
    </ul>
    <div class="card-body mx-auto">
        <button class="btn btn-primary" id="downloadButtonNormal" [vcdDownloadVCard]="vCard">
            Save to Contacts
        </button>
    </div>
</div>