<!-- <ul *ngIf="this.authService.user$ | async as user"> -->
<!-- <li>email: {{ user.email }}</li>
    <li>email verified: {{ user.email_verified }}</li>
    <li>family name: {{ user.family_name }}</li>
    <li>given name: {{ user.given_name }}</li>
    <li>name: {{ user.name }}</li>
    <li>nickname: {{ user.nickname }}</li>
    <li>phone number: {{ user.phone_number }}</li>
    <li>picture: {{ user.picture }}</li>
    <li>profile: {{ user.profile }}</li>
    <li>website: {{ user.website }}</li> -->
<!-- <li><button type="button" class="btn btn-secondary" (click)="editCardUser()">Edit</button></li> -->
<!-- </ul> -->
<button type="button" class="btn btn-primary" (click)="editCardUser()">Edit</button>
<button type="button" class="btn btn-primary" (click)="createCardUser()">Create</button>

<app-edit-user-profile [authenticatedUser]="user" [cardUser]="userToEdit"
    [showEditPage]="showEditPage"></app-edit-user-profile>
<app-create-user-profile [authenticatedUser]="user" [showCreatePage]="showCreatePage"></app-create-user-profile>


<p>ID {{ cardUser$.userId }} </p>
<p>First {{ cardUser$.userFirstName }} </p>
<p>Last {{ cardUser$.userLastName }} </p>