<div *ngIf="showCreatePage">
    <div *ngIf="cardUser">
        <h2>{{ cardUser.userFirstName }} {{ cardUser.userLastName }}</h2>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userFirstName" id="userFirstName" type="text" class="form-control"
                value="{{ cardUser.userFirstName }}" />
            <label for="userFirstName">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userLastName" id="userLastName" type="text" class="form-control"
                value="{{ cardUser.userLastName }}" />
            <label for="userLastName">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userEmail" id="userEmail" type="text" class="form-control"
                value="{{ cardUser.userEmail }}" />
            <label for="userEmail">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userPhoneNumber" id="userPhoneNumber" type="text" class="form-control"
                value="{{ cardUser.userPhoneNumber }}" />
            <label for="userPhoneNumber">Phone Number</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userStreetAddress" id="userStreetAddress" type="text" class="form-control"
                value="{{ cardUser.userStreetAddress }}" />
            <label for="userStreetAddress">Street Address</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userCity" id="userCity" type="text" class="form-control"
                value="{{ cardUser.userCity }}" />
            <label for="userCity">City</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userProvince" id="userProvince" type="text" class="form-control"
                value="{{ cardUser.userProvince }}" />
            <label for="userProvince">State or Province</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userZipCode" id="userZipCode" type="text" class="form-control"
                value="{{ cardUser.userZipCode }}" />
            <label for="userZipCode">Zip or Postal Code</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userDescription" id="userDescription" type="text" class="form-control"
                value="{{ cardUser.userDescription }}" />
            <label for="userDescription">Description</label>
        </div>

        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userProfilePicture" id="userProfilePicture" type="text" class="form-control"
                value="{{ cardUser.userProfilePicture }}" />
            <label for="userProfilePicture">URL to Profile Picture</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userJobTitle" id="userJobTitle" type="text" class="form-control"
                value="{{ cardUser.userJobTitle }}" />
            <label for="userJobTitle">Job Title</label>
        </div>
        <div class="form-floating mb-3">
            <input [(ngModel)]="cardUser.userJobDescription" id="userJobDescription" type="text" class="form-control"
                value="{{ cardUser.userJobDescription }}" />
            <label for="userJobDescription">Job Description</label>
        </div>
        <div class="btn-group" role="group" aria-label="User Form Control">
            <!-- <button (click)="updateCardUser(cardUser)" class="btn btn-primary" *ngIf="cardUser.userId">Save</button> -->
            <!-- <button (click)="deleteCardUser(cardUser)" class="btn btn-danger" *ngIf=" cardUser.userId">Delete</button> -->
            <button (click)="createCardUser(cardUser)" *ngIf="!cardUser.userId">Create</button>
        </div>
    </div>

    <p>email: {{ authenticatedUser.email }}</p>
</div>