<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/home">OneCard</a> -->
        <a class="navbar-brand " href="/home">
            <img alt="OneCard Logo" class="img-fluid h-10" src="./assets/img/Logo.png">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link" aria-current="page" href="/home" routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">
                    Home
                </a> -->
                <a class="nav-link" aria-current="page" href="/heroes-list" routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">
                    Heroes
                </a>
                <a class="nav-link" aria-current="page" href="/crisis-list" routerLinkActive="activebutton"
                    ariaCurrentWhenActive="page">
                    Crisis Center
                </a>
            </div>
        </div>
    </div>
</nav>