<html>
    <head>
        <h1>About Us</h1>
    </head>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
<img alt="Mission Statement" class="img-fluid logo" class="centerlogo" src="./assets/img/Mission.png" >
<br><br/>
<h2>About OneCard</h2>
<br><br/>
<p>Our CEO and Co-founder, Jon, harbored a disdain for traditional paper business cards. In 2015, he embarked on a journey to revolutionize the way people exchanged contact information. Enter the inception of OneCard. Leveraging his experience as a project manager, Jon assembled a stellar team to bring his vision to life.</p>
<p>Josh, a seasoned web developer with expertise in database management, joined forces with Jon. Together, they laid the foundation for OneCard's digital platform. Eli, a talented UI/UX designer and web developer, injected creativity and functionality into every pixel of the interface.</p>
<p>Abby, our network architect and security engineer, fortified the platform with robust defenses against cyber threats, ensuring user data remained safe and secure. Andrew, a wizard in graphic design and web development, added the finishing touches, crafting a sleek and intuitive user experience.</p>
<p>From its headquarters in bustling New York City, OneCard serves as the ultimate solution for modern professionals seeking seamless contact management. Our team, though dispersed across the globe, remains united in our mission to streamline networking experiences. Curious about joining our dynamic team? Explore opportunities on our careers page and become part of the OneCard journey today.</p>
<br><br/>
<h2>The Team</h2>
<br><br/>
<img alt="Jon" class="img-fluid logo" class="center" src="./assets/img/Jon_Photo.png" >
<h3>Jon</h3>
<p>Primary Project Manager, Business Analyst</p>
<br><br/>
<img alt="Josh" class="img-fluid logo" class="center" src="./assets/img/Josh_Photo.png" >
<h3>Josh</h3>
<p>Database, Web Development, Software, Backup Project Manager</p>
<br><br/>
<img alt="Abby" class="img-fluid logo" class="center" src="./assets/img/Abby_Photo.png" >
<h3>Abby</h3>
<p>Network Architect and Security Engineer</p>
<br><br/>
<img alt="Andrew" class="img-fluid logo" class="center" src="./assets/img/Andrew_Photo.png" >
<h3>Andrew</h3>
<p>Graphic Designer and Web Developer</p>
<br><br/>
<img alt="Eli" class="img-fluid logo" class="center" src="./assets/img/Eli_Photo.png" >
<h3>Eli</h3>
<p>UI/UX Designer and Web Developer</p>
</html>