<html>
    <head>
        <h1>About Us</h1>
    </head>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
<img alt="Mission Statement" class="img-fluid logo" src="./assets/img/Mission.png" >
<br><br/>
<h2>The Story Behind OneCard</h2>
<p>The story behind OneCard</p>
<br><br/>
<h2>The Team</h2>
<h3>Jon</h3>
<p>Primary Project Manager, Business Analyst</p>
<h3>Josh</h3>
<p>Database, Software, Backup Project Manager</p>
<h3>Abby</h3>
<p>Job Title</p>
<h3>Andrew</h3>
<p>Job Title</p>
<h3>Eli</h3>
<p>Job Title</p>
</html>