<!-- <p>home works!</p> -->

<!-- <div class="mb-3">
    <img alt="OneCard Logo" class="img-fluid" src="./assets/img/Logo.png">
</div> -->

<!-- <ng-container *ngIf="authService.isAuthenticated$ | async; else notLoggedIn">
    <p>{{ user.name }}</p>
    <p>{{ user.email }}</p>
</ng-container>

<ng-template #notLoggedIn> -->
<div>
    <h1>
        Share contact details with a single tap
    </h1>
</div>
<div>
    <p>
        For people who want to make a great first impression. Tap and share your contact details, gather leads and
        connect with others
    </p>
</div>
<!-- </ng-template> -->